body {
  /*
          cursor: url('http://ionicframework.com/img/finger.png'), auto;
  */
}
.searchbar {
    width:100%;
    max-width:1000px; 
    margin:0 auto;
    background-color: #bbb !important;
    border-color: #bbb !important;
    padding:10px;
    min-height: 64px;
}
.contentHolder {
  width:100%;
  max-width:1000px;
  margin:0 auto;
}
.contentHolder::-webkit-scrollbar {
 display: none;
}

.item {
  border-style: none;
  border-bottom:#ddd 1px solid;
}
.slide-text {
  position: absolute;
  bottom: 0;
  min-height: 20%;
  min-width: 220px;
  clear: both;
  left: 0;
  right: 0;
  z-index: 100;
  font-family: arial, sans-serif;
  color: #fff;
  font-size: 13px;
  background-color: rgba(33, 33, 33, 0.74902);
  padding: 6px 16px 4px 10px;
  white-space: normal;
}
.slide-text {
  left:58%; right:5%; 
  /* position:absolute;bottom:0px;right:0px;left:0px;color:#fff;background:#000;padding:10px */
}
.slide-title {
    font-family: Raleway,sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}
#horizontal ion-scroll {
  height:444px;
}
#horizontal ion-scroll .item {
  display: inline-block;  
  /* width:200px; Causes cropping when backing up. */
  min-width:15%; /* temp */
  max-width:100%; /* temp */

  width:50%;
  height:222px; /* temp - half of 444px */

  white-space: normal;
  word-wrap: normal;
}
#horizontal .item {
  font-size: 14px;
}
#horizontal .item img {
  margin-bottom: 10px;
}


.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

#vertical
{
  height :100%;
}

#vertical .item
{
  height: 100px;
  width: 100%;
}

#vertical .item img
{
  height : 40px;
  width : 40px;
}


.slideControls
{
  position:absolute;
  top:35%;
  z-index:1000;

}

.fa.fa-angle-left {
    opacity: 0.2;
    left: 20px;
    color:green;
    transition: 0.2s linear all;
}

.fa.fa-angle-right {
    opacity: 0.2;
    right: 20px;
    color:green;
    transition: 0.2s linear all;
    float:right;
}

.fa.fa-angle-left:hover {
    opacity: 1;
    color:blue;
}

.fa.fa-angle-right:hover {
    opacity: 1;
    color:blue;
}

.fa.fa-angle-down {
    opacity: 0.2;
    left: 20px;
    color:green;
    transition: 0.2s linear all;
}

.fa.fa-angle-up {
    opacity: 0.2;
    right: 20px;
    color:green;
    transition: 0.2s linear all;
    float:right;
}

.fa.fa-angle-down:hover {
    opacity: 1;
    color:blue;
}

.fa.fa-angle-up:hover {
    opacity: 1;
    color:blue;
}

.popup.popup-showing.active {
    width:266px;
}

/* Override ionic.min.css */
.scroll .item {
  padding:0px;
}
.button {
  line-height: normal;
}