body {
  /*
          cursor: url('http://ionicframework.com/img/finger.png'), auto;
  */
}
.bar.bar-positive .title {
  color: #333;
}
.bar .title {
  text-align: left;
}
.bar.bar-positive {
  border-color: #fff;
  background-color: #fff;
  /*
  background-image: linear-gradient(0deg,#145fd7,#145fd7 50%,transparent 50%);
  */
  color: #fff;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
  filter: alpha(opacity=50);  /* IE 5-7 */
  -moz-opacity: 0.5;          /* Netscape */
  -khtml-opacity: 0.5;        /* Safari 1.x */
  opacity: 0.5;               /* Good browsers */
}
.searchbar {
    max-width: 120px;
    padding:3px;
    height:24px !important;
    border:1px solid #ccc !important;
    display: inline !important;
}
.contentHolder {
  width:100%;
  max-width:1000px;
  margin:0 auto;
}
.contentHolder::-webkit-scrollbar {
 display: none;
}

.item { /* Also applies to settings */
  border-style: none;
  border-bottom:#ddd 1px solid;
}
.slide-text {
  position: absolute;
  bottom: 0;
  min-height: 20%;
  min-width: 220px;
  clear: both;
  left: 0;
  right: 0;
  z-index: 100;
  font-family: arial, sans-serif;
  color: #fff;
  font-size: 13px;
  background-color: rgba(33, 33, 33, 0.74902);
  padding: 6px 16px 4px 10px;
  white-space: normal;
}
.slide-text {
  left:58%; right:5%; 
  /* position:absolute;bottom:0px;right:0px;left:0px;color:#fff;background:#000;padding:10px */
}
.slide-title {
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
}
#horizontal ion-scroll {
  height:444px;
}
#horizontal ion-scroll .item {
  display: inline-block;  
  /* width:200px; Causes cropping when backing up. */
  min-width:15%; /* temp */
  max-width:100%; /* temp */

  width:50%;
  height:222px; /* temp - half of 444px */

  white-space: normal;
  word-wrap: normal;
  background: #333;
}
#horizontal .item {
  font-size: 14px;
}
#horizontal .item img {
  margin-bottom: 10px;
}

.button-plain {
  color: #ccc;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  min-width: 28px;
  cursor: pointer;
}
.button-plain:hover {
  color: #777;
}

.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}
.button-sm {
  display: inline;
  border: 1px solid #ccc;
  padding: 2px 4px 2px 4px;
  cursor: pointer;
}
#vertical
{
  height :100%;
}

#vertical .item
{
  height: 100px;
  width: 100%;
}

#vertical .item img
{
  height : 40px;
  width : 40px;
}


.slideControls {
  position:absolute;
  top:31%;
  z-index:1000;
  color:#fff !important;
  background-color: #333;
  border-radius: 50%;
  opacity: 0.4;
  font-weight: 900;
  font-size: 78px;
  line-height: 58px;
  height:60px;
  width:60px;
  text-align: center;
  transition: 0.1s linear all;
}
.slideControls:hover {
  opacity:0.7;
  cursor:pointer;
}
.fa.fa-angle-left {
    left: 18px;
    padding-right:8px;
}
.fa.fa-angle-right {
    right: 18px;
    padding-left:8px;
}
.fa.fa-angle-down {
    left: 20px;
}
.fa.fa-angle-up {
    right: 20px;
}

.popup.popup-showing.active {
    width:266px;
}

/* Override ionic.min.css */
.scroll .item {
  padding:0px;
}
.button {
  line-height: normal;
}

/* Destop version */
.has-header{
  top:54px;
}
.bar.bar-positive {
  background-image: none;
}
.bar {
  height:54px;
}