<div id="horizontal">
        <!-- <h5 class="title" style="padding-left:8px">{{items.length}}</h5> -->
        
        <!-- on-swipe-up and on-swipe-down might not have an effect. Test without these on mobile. -->
        <ion-scroll direction="x" on-drag-up="onDragUp()" on-drag-down="onDragDown()" on-swipe-up="onDragUp()" on-swipe-down="onDragDown()" delegate-handle="isde" class="item wide-item" on-scroll="onScroll()" ng-style="{'height': '444px'}">
            <!-- Removed width:33% from the following -->
            <div style="margin:0px; position:relative;" class="item"
                collection-repeat="item in getLocations()"
                collection-item-height="itemHeight"
                collection-item-width="itemWidth"
                ng-style="{height:444/settings.rows,width:itemWidth}">

               <!--<img ng-if="!item.isLetter" ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}"> -->
               
               <img ng-if="lessRows" ng-src="{{item.images[0].large}}" style="width:100%;">
               <img ng-if="!lessRows" ng-src="{{item.images[0].thumbnail}}"  style="width:100%;max-width:120px">

                <div class="slide-text">
                  <div class="slide-title">{{$index+1}}. {{item.title}}</div>
                </div>

                <div style="position:absolute;top:45%;z-index:100;width:100%">
                  <i class="fa fa-angle-left fa-4x" style="font-size:64pt;color:#fff" ng-click="scrollPrev()"></i>
                  <i class="fa fa-angle-right fa-4x" style="font-size:64pt;color:#fff"  ng-click="scrollNext()"></i>
                </div>
                

            </div>
            
        </ion-scroll>


      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="" on-infinite="loadMore()" distance="0%"></ion-infinite-scroll>

      

      <div style="background:#eee;padding:18px">
       
          Move "Filter results..." field here. &nbsp; &nbsp; 
          [{{slideindex}}] of [{{totalElement}}] &nbsp; &nbsp; {{itemHeight}}
          {{itemWidth}}
          <span ng-if="lessRows">True</span>
          <span ng-if="!lessRows">False</span>
        
          <div style="float:right">
          <div class="button icon ion-ios7-settings-strong" ng-click="ShowSettingsPopup()"></div>
          <div ng-if="!playslide" class="button icon ion-play" ng-click="PlaySlides()"></div>
          <div ng-if="playslide" class="button icon ion-pause" ng-click="StopSlides()"></div>
          </div>
      </div>
</div>