<ion-header-bar class="bar-positive">
    <h1 class="title" style="margin-left:0px;left:0px">Grant Park Historic Homes</h1>
    <div style="position:absolute;top:10px;right:10px;color:#333;font-size:24px"><i class="icon ion-navicon-round" ></i></div>
</ion-header-bar> 


<ion-content overflow-scroll="true" class="contentHolder">
      <div id="horizontal">
       <div ui-view="gallery">        
       </div>

       <div ui-view="flickr">        
       </div>
      </div>

       <!--
       <div style="margin:10px 0px 10px">
          <a href="http://forum.ionicframework.com/t/ionic-infinite-slideshow-carousel-horizontal-scrolling-with-set-pagination-using-collection-repeat/6155">Ionic Forum Post</a>
        </div>
      -->
       <div>

       <br />
      <h4>It's a slideshow, it's a gallery, it's a list!</h4>
       Click the settings icon to change the number of rows and columns.
       Change the swipe direction from horizontal to vertical.
       <br><br>

       Infinite Scroll by <a href="http://dreamstudio.com">DreamStudio</a>.
       <br><br><br>
       </div>
       
       
</ion-content>