 <ion-header-bar class="bar-positive">
    <div class="button" ng-click="scrollTop()">&lt;&lt;</div>
    <h1 class="title">SmartWidget - Infinite Horizontal Scroll</h1>
    <div class="button" ng-click="scrollBottom()">Next</div>
  </ion-header-bar> 

  <ion-header-bar class="bar-light bar-subheader">
    <input type="search" placeholder="Filter contacts..." ng-model="search.last_name">
  </ion-header-bar> 

  <br/><br/><br/><br/>
    <div class="list">  
    
     <div>

        <div id="horizontal">
          <!-- <h5 class="title" style="padding-left:8px">{{items.length}}</h5> -->
        
        <i class="fa fa-angle-left fa-4x" ng-click="scrollPrev()"></i>
        <i class="fa fa-angle-right fa-4x" ng-click="scrollNext()"></i>
        <ion-scroll direction="x" delegate-handle="isde" class="item wide-item" ng-style="{'height': '200px'}">
            <div class="item"
                ng-repeat="item in items track by $index"
                ng-style="{'width' : itemWidth}"
                >
               <!--<img ng-if="!item.isLetter" ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}"> -->
               <img ng-src="{{item.images[0].thumbnail}}" >
                <div>{{item.title}}</div>

            </div>
            
        </ion-scroll>


      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="ion-loading-c" on-infinite="loadMore()" distance="0%"></ion-infinite-scroll>

        <div style="margin:20px 10px 10px">
          <a href="http://forum.ionicframework.com/t/ionic-infinite-slideshow-carousel-horizontal-scrolling-with-set-pagination-using-collection-repeat/6155">Ionic Forum Post</a>
        </div>
        </div>
      
     </div>
<div class="tabs tabs-icon-only tabs-positive">
  <a class="tab-item">
    <i class="icon ion-ios7-gear" ng-click="ShowSettingsPopup()"></i>
  </a>
</div>
