<ion-header-bar class="bar-positive">
      <div class="button" ng-click="scrollTop()">&lt;&lt;</div>
      <h1 class="title">SmartWidget - Infinite Horizontal Scroll</h1>
      <div class="button icon ion-ios7-gear" ng-click="ShowSettingsPopup()"></div>
      <div class="button" ng-click="scrollBottom()">&gt;&gt;</div>
</ion-header-bar> 

<ion-header-bar class="bar-light bar-subheader">
      <input type="search" placeholder="Filter contacts..." ng-model="search" ng-focus="searchFocused = true"
      ng-blur="searchFocused = false" ng-change="scrollTop()">
</ion-header-bar> 
<ion-content>
       <div ui-view>        
       </div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
       <div>Hello World</div>
</ion-content>
