
      <div>
      
        <div class="list">
          <!--<label class="item item-input item-select">-->

          <label class="item item-input item-select">
            <div class="input-label">
              Swipe
            </div>

            <select ng-model="settings.direction">
              <option value="x">Horizontal</option>
              <option value="y">Vertical</option>
            </select>
          </label>

          <label class="item item-input item-select">
          <!--<label class="item item-input item-select">
            <div class="input-label">
              Items per page
            </div>-->
            <div class="input-label">
            Columns
            </div>
            <select ng-model="settings.cols" ng-change="changeItems()">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            
          </label>
          
          <label class="item item-input item-select">
            <div class="input-label">
            Rows
            </div>
            <!-- Might not be used: ng-change="changeRows()" -->
            <select ng-model="settings.rows" ng-change="changeItems()">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            
          </label>
        
        </div>

        <div class="list">
          <ion-toggle ng-model="settings.play" ng-click="autoScroll('toggle')" toggle-class="toggle">Auto Play</ion-toggle>
        </div>

        <!--
        <div class="button" ng-click="getScrollPosition()">Show position in console</div>
        -->

  </div>