<div id="horizontal">
  
     

        <!-- <h5 class="title" style="padding-left:8px">{{items.length}}</h5> -->

        

      <br><br>

      Filmstrip:<br>
      <ion-scroll direction="x" ng-if="settings.direction == 'x'" on-drag-up="onDragUp()" on-drag-down="onDragDown()" on-swipe-up="onDragUp()" on-swipe-down="onDragDown()" scroll-to="{{scrollTo}}" delegate-handle="isde" class="item wide-item" on-scroll="onScroll()" ng-style="{'height': '200px'}">
          <!-- Removed width:33% from the following -->
          <div style="margin:0px; position:relative;" class="item"
              collection-repeat="item in items"
              collection-item-height="itemHeight"
              collection-item-width="filmStripWidth"              
              ng-style="{height:444/settings.rows,width:filmStripWidth}">

             <!--<img ng-if="!item.isLetter" ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}"> -->
             
             <img ng-if="lessRows" ng-src="{{item.images[0].large}}" style="width:100%;">
             <img ng-if="!lessRows" ng-src="{{item.images[0].thumbnail}}"  style="width:100%;max-width:120px">
              
              <div ng-class="slideTextClass">
                <div class="slide-title">{{$index+1}}. {{item.title}}</div>
              </div>                

          </div>
      </ion-scroll>
      <br>

      Vertical List:<br>
      <ion-scroll direction="y" ng-if="settings.direction == 'x'" on-drag-up="onDragUp()" on-drag-down="onDragDown()" on-swipe-up="onDragUp()" on-swipe-down="onDragDown()" scroll-to="{{scrollTo}}" delegate-handle="isde" class="item wide-item" on-scroll="onScroll()" ng-style="{'height': '500px'}">
          <!-- Removed width:33% from the following -->
          <div style="margin:0px; position:relative;" class="item"
              collection-repeat="item in items"
              collection-item-height="itemHeight"
              collection-item-width="itemWidth"
              ng-style="{height:444/settings.rows,width:itemWidth}">

             <!--<img ng-if="!item.isLetter" ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}"> -->
             
             <img ng-if="lessRows" ng-src="{{item.images[0].large}}" style="width:100%;">
             <img ng-if="!lessRows" ng-src="{{item.images[0].thumbnail}}"  style="width:100%;max-width:120px">
              
              <div ng-class="slideTextClass">
                <div class="slide-title">{{$index+1}}. {{item.title}}</div>
              </div>                

          </div>
      </ion-scroll>

</div>